In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import pandas as pd
pd.options.display.min_rows = 11

%config InlineBackend.figure_format="retina"  # enable retina display

### 1. Stock Data Analysis

This exercise demonstrates tools for handling and analyzing stock market data with Python. 

Before we analyze stock data, we need to get it into some workable format. Stock data can be obtained from Yahoo! Finance, Google Finance, or a number of other sources. We can use data acess interfaces provided by pandas' [datareader sub package](https://pandas-datareader.readthedocs.io/) to create a `DataFrame` from various Internet data sources easily.

In [2]:
from pandas.testing import assert_frame_equal
from pandas_datareader import data as dr
from datetime import date, datetime

ModuleNotFoundError: No module named 'pandas_datareader'

In [ ]:
apple = dr.DataReader('AAPL', 'yahoo', start='1/1/2019', end='10/31/2019')
amazon = dr.DataReader('AMZN', 'yahoo', start='1/1/2019', end='10/31/2019')
google = dr.DataReader('GOOG', 'yahoo', start='1/1/2019', end='10/31/2019')

In [ ]:
google

Let's briefly discuss the meanings of these different prices. Open is the price of the stock at the beginning of the trading day, high is the highest price of the stock on that trading day, low the lowest price of the stock on that trading day, and close the price of the stock at closing time. Volume indicates how many stocks were traded. Adjusted close is the closing price adjusted for dividend payments, splits, and other corporate actions which directly influence overall return.

In [ ]:
apple["Adj Close"].plot(grid = True, figsize=(8, 5))
plt.show()

We may want to compare stocks, compare them to the market, or look at other securities. So we often want to plot multiple financial instruments together. To do so, we need to first combine adjusted closing price data of different stocks into one `DataFrame`. 

1. Create a `DataFrame` containing the adjusted closing prices for all 3 stocks. Name it `stock`. It should look like as follows:


<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>AMZN</th>
      <th>GOOG</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-01-02</th>
      <td>156.049484</td>
      <td>1539.130005</td>
      <td>1045.849976</td>
    </tr>
    <tr>
      <th>2019-01-03</th>
      <td>140.505798</td>
      <td>1500.280029</td>
      <td>1016.059998</td>
    </tr>
    <tr>
      <th>2019-01-04</th>
      <td>146.503891</td>
      <td>1575.390015</td>
      <td>1070.709961</td>
    </tr>
    <tr>
      <th>2019-01-07</th>
      <td>146.177811</td>
      <td>1629.510010</td>
      <td>1068.390015</td>
    </tr>
    <tr>
      <th>2019-01-08</th>
      <td>148.964386</td>
      <td>1656.579956</td>
      <td>1076.280029</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2019-10-25</th>
      <td>246.580002</td>
      <td>1761.329956</td>
      <td>1265.130005</td>
    </tr>
    <tr>
      <th>2019-10-28</th>
      <td>249.050003</td>
      <td>1777.079956</td>
      <td>1290.000000</td>
    </tr>
    <tr>
      <th>2019-10-29</th>
      <td>243.289993</td>
      <td>1762.709961</td>
      <td>1262.619995</td>
    </tr>
    <tr>
      <th>2019-10-30</th>
      <td>243.259995</td>
      <td>1779.989990</td>
      <td>1261.290039</td>
    </tr>
    <tr>
      <th>2019-10-31</th>
      <td>248.759995</td>
      <td>1776.660034</td>
      <td>1260.109985</td>
    </tr>
  </tbody>
</table>

In [ ]:
# Write your code here

stock = pd.DataFrame({"AAPL":apple['Adj Close'], "AMZN":amazon['Adj Close'], "GOOG" : google['Adj Close']})
stock

Now we can plot their adjusted closing prices together:

In [ ]:
stock.plot(grid = True, figsize=(12, 5))
plt.show()

As we can see, Google's and Amazon's stocks are much more expensive than Apple's, and this difference makes Apple's stock appear much less volatile than it truly is (that is, its price appears to not deviate much).

One solution would be to use two different scales when plotting the data; one scale will be used by Google and Amazon stocks, and the other by Apple.

In [ ]:
stock.plot(secondary_y = ["AAPL"], grid = True, figsize=(12, 5))
plt.show()

When trading, we are actually more concerned about the relative change of an asset rather than its absolute price. Therefore, a better solution would be to plot the stock's returns. If we consider the stock's return since the beginning of the period of interest, we can plot:

$$
return_{t, 1}=\frac{price_t}{price_1}
$$

So we need to tranform the adjusted closing price data in `stocks` to calculate the stock returns.

2. Create a `DataFrame` containing the returns of all 3 stocks since the beginning of the period (01/02/2019). Name it `stock_return`. It should look like as follows:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>AMZN</th>
      <th>GOOG</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-01-02</th>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>2019-01-03</th>
      <td>0.900393</td>
      <td>0.974758</td>
      <td>0.971516</td>
    </tr>
    <tr>
      <th>2019-01-04</th>
      <td>0.938830</td>
      <td>1.023559</td>
      <td>1.023770</td>
    </tr>
    <tr>
      <th>2019-01-07</th>
      <td>0.936740</td>
      <td>1.058721</td>
      <td>1.021552</td>
    </tr>
    <tr>
      <th>2019-01-08</th>
      <td>0.954597</td>
      <td>1.076309</td>
      <td>1.029096</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2019-10-25</th>
      <td>1.580140</td>
      <td>1.144367</td>
      <td>1.209667</td>
    </tr>
    <tr>
      <th>2019-10-28</th>
      <td>1.595968</td>
      <td>1.154600</td>
      <td>1.233447</td>
    </tr>
    <tr>
      <th>2019-10-29</th>
      <td>1.559057</td>
      <td>1.145264</td>
      <td>1.207267</td>
    </tr>
    <tr>
      <th>2019-10-30</th>
      <td>1.558864</td>
      <td>1.156491</td>
      <td>1.205995</td>
    </tr>
    <tr>
      <th>2019-10-31</th>
      <td>1.594110</td>
      <td>1.154327</td>
      <td>1.204867</td>
    </tr>
  </tbody>
</table>

In [ ]:
# Write your code here

stock_return = stock.apply(lambda x : x/x[0])
stock_return

In [ ]:
stock_return.plot(grid = True, figsize=(12, 5)).axhline(y = 1, color = "k", ls="dashed")
plt.show()

We often want to compare the performance of stocks to the performance of the overall market. [SPY](https://finance.yahoo.com/quote/SPY/), which is the ticker symbol for the SPDR S&P 500 exchange-traded mutual fund (ETF), is a fund that attempts only to imitate the composition of the [S&P 500 stock index](https://finance.yahoo.com/quote/%5EGSPC?p=^GSPC), and thus represents the "value in the market".

In [ ]:
spdr = dr.DataReader('SPY', 'yahoo', start='1/1/2019', end='10/31/2019'); spdr

3. Add a column for the adjusted closing price of ETF to the `stock` `DataFrame`.  It should look like as follows:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>AMZN</th>
      <th>GOOG</th>
      <th>SPY</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-01-02</th>
      <td>156.049484</td>
      <td>1539.130005</td>
      <td>1045.849976</td>
      <td>246.737808</td>
    </tr>
    <tr>
      <th>2019-01-03</th>
      <td>140.505798</td>
      <td>1500.280029</td>
      <td>1016.059998</td>
      <td>240.849976</td>
    </tr>
    <tr>
      <th>2019-01-04</th>
      <td>146.503891</td>
      <td>1575.390015</td>
      <td>1070.709961</td>
      <td>248.917435</td>
    </tr>
    <tr>
      <th>2019-01-07</th>
      <td>146.177811</td>
      <td>1629.510010</td>
      <td>1068.390015</td>
      <td>250.880051</td>
    </tr>
    <tr>
      <th>2019-01-08</th>
      <td>148.964386</td>
      <td>1656.579956</td>
      <td>1076.280029</td>
      <td>253.237152</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2019-10-25</th>
      <td>246.580002</td>
      <td>1761.329956</td>
      <td>1265.130005</td>
      <td>301.600006</td>
    </tr>
    <tr>
      <th>2019-10-28</th>
      <td>249.050003</td>
      <td>1777.079956</td>
      <td>1290.000000</td>
      <td>303.299988</td>
    </tr>
    <tr>
      <th>2019-10-29</th>
      <td>243.289993</td>
      <td>1762.709961</td>
      <td>1262.619995</td>
      <td>303.209991</td>
    </tr>
    <tr>
      <th>2019-10-30</th>
      <td>243.259995</td>
      <td>1779.989990</td>
      <td>1261.290039</td>
      <td>304.140015</td>
    </tr>
    <tr>
      <th>2019-10-31</th>
      <td>248.759995</td>
      <td>1776.660034</td>
      <td>1260.109985</td>
      <td>303.329987</td>
    </tr>
  </tbody>
</table>

In [ ]:
# Write your code here

stock["SPY"] = spdr['Adj Close']
stock

4. Create a DataFrame containing the returns of the 3 stocks and the ETF since the beginning of the period (01/02/2019). Reassign the name  `stock_return` to it.

In [ ]:
stock.iloc[0,3]

In [ ]:
# Write your code here

stock_return["SPY"] = stock["SPY"]/stock.iloc[0,3]
stock_return

In [ ]:
# plot the resulting DataFrame creates the following figure
stock_return.plot(grid = True, figsize=(12, 5)).axhline(y=1, color = "k", ls="dashed")
plt.show()

5. Calculate the monthly stock return for the 3 stocks and the ETF. Organize the output in the following format that is convenient for stock-by-stock comparison.
<font color='red'>Hint: create an auxiliary column for month in the `stock` DataFrame. Use the month column as the key column to define the needed group-wise operation.</div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Symbol</th>
      <th>AAPL</th>
      <th>AMZN</th>
      <th>GOOG</th>
      <th>SPY</th>
    </tr>
    <tr>
      <th>Month</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>0.053951</td>
      <td>0.116689</td>
      <td>0.067428</td>
      <td>0.078943</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.044275</td>
      <td>0.008363</td>
      <td>0.008256</td>
      <td>0.031919</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.085615</td>
      <td>0.065214</td>
      <td>0.028326</td>
      <td>0.011783</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.049310</td>
      <td>0.061917</td>
      <td>-0.004982</td>
      <td>0.028653</td>
    </tr>
    <tr>
      <th>5</th>
      <td>-0.165190</td>
      <td>-0.071383</td>
      <td>-0.055176</td>
      <td>-0.056681</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.142066</td>
      <td>0.118710</td>
      <td>0.043118</td>
      <td>0.072313</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.057008</td>
      <td>-0.028826</td>
      <td>0.108138</td>
      <td>0.005987</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.005293</td>
      <td>-0.042596</td>
      <td>-0.017295</td>
      <td>-0.008106</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.088819</td>
      <td>-0.030131</td>
      <td>0.043316</td>
      <td>0.025454</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.107618</td>
      <td>0.023628</td>
      <td>0.045648</td>
      <td>0.034409</td>
    </tr>
  </tbody>
</table>

To calculate a monthly stock return, we need to compare the adjusted closing price at the end of a month with the adjusted closing price at the start of the month. The formula for return begins by dividing the last day's price by the first day's price in a month. The number 1 is then subtracted from this result.

In [ ]:
stock.reset_index(inplace = True)

In [ ]:
stock

In [ ]:
stock.loc[0,"Date"].month

In [ ]:
# Write your code here
 

 
stock['Month'] = stock['Date'].map(lambda x: x.month); stock
stock1 = pd.melt(stock,id_vars=["Date","Month"],var_name = "Symbol", value_name = "Adj Close")
stock1_grp = stock1.groupby(["Month","Symbol"])
stock1_grp.agg([("Mon Return", lambda x:x.iloc[len(x)-1]/x.iloc[0]-1)]).reset_index()
stock2 = stock1_grp.agg([("",lambda x : x.iloc[len(x)-1]/x.iloc[0]-1)]).reset_index()
stocknew=pd.pivot_table(stock2,values = "Adj Close",index = "Month",columns = "Symbol")
display(stocknew)


### 2. Data munging for visualization and machine learning

The iris dataset is a famous dataset that illustrates classification tasks in machine learning (or data mining). It contains the sepal and petal length and width of 150 iris flowers of 3 different species: Iris-Setosa, Iris-Versicolor, and Iris-Virginica. Given sepal and petal lengths and widths, we can train a multiclass classifier capable of predicting the species of an iris.

<img alt="virginica_picture" src="https://drive.google.com/uc?id=1K2V1aNQ2noYkWfd0kAvuzPyt-VGEubu_" width=580> 


The first rule of machine learning is to ***look at our data first***. 

Seaborn has a `load_dataset` function that allows us to quickly access sample datasets from its [online  repository](https://github.com/mwaskom/seaborn-data), which contains this iris dataset:

In [ ]:
iris = sns.load_dataset("iris"); iris

In [ ]:
iris.info()

In [ ]:
iris.describe()


To unveil possible patterns obsecured in data, we are going to use a seaborn function, `relplot`, to create a facet plot that includes two sub scatter plots as shown below:

<img alt="virginica_picture" src="https://drive.google.com/uc?id=1eNXU8_XNxUZ2KwTck2FmoP9Z9OrxbOn4" width=680> 

This plot reveals that the petal is more informative about iris species than the sepal, and should be included in a potential classifier first.

This seaborn plotting function expects the following input `DataFrame`:


<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>feature</th>
      <th>species</th>
      <th>length</th>
      <th>width</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>petal</td>
      <td>setosa</td>
      <td>1.4</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>sepal</td>
      <td>setosa</td>
      <td>5.1</td>
      <td>3.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>petal</td>
      <td>setosa</td>
      <td>1.4</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>sepal</td>
      <td>setosa</td>
      <td>4.9</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>petal</td>
      <td>setosa</td>
      <td>1.3</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>295</th>
      <td>147</td>
      <td>sepal</td>
      <td>virginica</td>
      <td>6.5</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>296</th>
      <td>148</td>
      <td>petal</td>
      <td>virginica</td>
      <td>5.4</td>
      <td>2.3</td>
    </tr>
    <tr>
      <th>297</th>
      <td>148</td>
      <td>sepal</td>
      <td>virginica</td>
      <td>6.2</td>
      <td>3.4</td>
    </tr>
    <tr>
      <th>298</th>
      <td>149</td>
      <td>petal</td>
      <td>virginica</td>
      <td>5.1</td>
      <td>1.8</td>
    </tr>
    <tr>
      <th>299</th>
      <td>149</td>
      <td>sepal</td>
      <td>virginica</td>
      <td>5.9</td>
      <td>3.0</td>
    </tr>
  </tbody>
</table>

Please follow the instructions to derive intermediate `DataFrame`s that lead to the `DataFrame` of the above form.

1. Create a new `id` column to track individual iris observations during the process of data transformations. The output should look like the following:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>sepal_length</th>
      <th>sepal_width</th>
      <th>petal_length</th>
      <th>petal_width</th>
      <th>species</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>5.1</td>
      <td>3.5</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>4.9</td>
      <td>3.0</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>4.7</td>
      <td>3.2</td>
      <td>1.3</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>4.6</td>
      <td>3.1</td>
      <td>1.5</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>5.0</td>
      <td>3.6</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>145</th>
      <td>145</td>
      <td>6.7</td>
      <td>3.0</td>
      <td>5.2</td>
      <td>2.3</td>
      <td>virginica</td>
    </tr>
    <tr>
      <th>146</th>
      <td>146</td>
      <td>6.3</td>
      <td>2.5</td>
      <td>5.0</td>
      <td>1.9</td>
      <td>virginica</td>
    </tr>
    <tr>
      <th>147</th>
      <td>147</td>
      <td>6.5</td>
      <td>3.0</td>
      <td>5.2</td>
      <td>2.0</td>
      <td>virginica</td>
    </tr>
    <tr>
      <th>148</th>
      <td>148</td>
      <td>6.2</td>
      <td>3.4</td>
      <td>5.4</td>
      <td>2.3</td>
      <td>virginica</td>
    </tr>
    <tr>
      <th>149</th>
      <td>149</td>
      <td>5.9</td>
      <td>3.0</td>
      <td>5.1</td>
      <td>1.8</td>
      <td>virginica</td>
    </tr>
  </tbody>
</table>

In [ ]:
# write your code here
iris.reset_index(inplace = True)
iris.rename({'index':'id'},axis = 1, inplace= True)
iris

2. Convert the `DataFrame` from wide format to long format, pushing data that currently spread across `sepal_length`,	`sepal_width`,	`petal_length`,	and `petal_width` columns into rows.  Name the resulting `DataFrame` `iris_l`. The output should look like the following:


<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>species</th>
      <th>feature</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>setosa</td>
      <td>sepal_length</td>
      <td>5.1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>setosa</td>
      <td>sepal_length</td>
      <td>4.9</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>setosa</td>
      <td>sepal_length</td>
      <td>4.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>setosa</td>
      <td>sepal_length</td>
      <td>4.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>setosa</td>
      <td>sepal_length</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>595</th>
      <td>145</td>
      <td>virginica</td>
      <td>petal_width</td>
      <td>2.3</td>
    </tr>
    <tr>
      <th>596</th>
      <td>146</td>
      <td>virginica</td>
      <td>petal_width</td>
      <td>1.9</td>
    </tr>
    <tr>
      <th>597</th>
      <td>147</td>
      <td>virginica</td>
      <td>petal_width</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>598</th>
      <td>148</td>
      <td>virginica</td>
      <td>petal_width</td>
      <td>2.3</td>
    </tr>
    <tr>
      <th>599</th>
      <td>149</td>
      <td>virginica</td>
      <td>petal_width</td>
      <td>1.8</td>
    </tr>
  </tbody>
</table>

In [ ]:
# write your code here


iris_l = pd.melt(iris,id_vars=['id','species'],var_name = 'feature',value_name='value')
iris_l

3.  Pandas provides a `Series` method, `str.split`, that can split string values around a delimiter and spread the results into different columns. For the detail, see `help(pd.Series.str.split)`. Run the provided code directly to get a `DataFrame` as follows:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>species</th>
      <th>feature</th>
      <th>value</th>
      <th>subfeature</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>setosa</td>
      <td>sepal</td>
      <td>5.1</td>
      <td>length</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>setosa</td>
      <td>sepal</td>
      <td>4.9</td>
      <td>length</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>setosa</td>
      <td>sepal</td>
      <td>4.7</td>
      <td>length</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>setosa</td>
      <td>sepal</td>
      <td>4.6</td>
      <td>length</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>setosa</td>
      <td>sepal</td>
      <td>5.0</td>
      <td>length</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>595</th>
      <td>145</td>
      <td>virginica</td>
      <td>petal</td>
      <td>2.3</td>
      <td>width</td>
    </tr>
    <tr>
      <th>596</th>
      <td>146</td>
      <td>virginica</td>
      <td>petal</td>
      <td>1.9</td>
      <td>width</td>
    </tr>
    <tr>
      <th>597</th>
      <td>147</td>
      <td>virginica</td>
      <td>petal</td>
      <td>2.0</td>
      <td>width</td>
    </tr>
    <tr>
      <th>598</th>
      <td>148</td>
      <td>virginica</td>
      <td>petal</td>
      <td>2.3</td>
      <td>width</td>
    </tr>
    <tr>
      <th>599</th>
      <td>149</td>
      <td>virginica</td>
      <td>petal</td>
      <td>1.8</td>
      <td>width</td>
    </tr>
  </tbody>
</table>

In [ ]:
iris_l[['feature', 'subfeature']] = iris_l['feature'].str.split('_', expand=True)
iris_l

4. Convert the `DataFrame` from long format to wide format, pulling values of `length` and `width` across rows into their own columns.  Name the resulting `DataFrame` `iris_w`. The output should look like the following:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>feature</th>
      <th>species</th>
      <th>length</th>
      <th>width</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>petal</td>
      <td>setosa</td>
      <td>1.4</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>sepal</td>
      <td>setosa</td>
      <td>5.1</td>
      <td>3.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>petal</td>
      <td>setosa</td>
      <td>1.4</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>sepal</td>
      <td>setosa</td>
      <td>4.9</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>petal</td>
      <td>setosa</td>
      <td>1.3</td>
      <td>0.2</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>295</th>
      <td>147</td>
      <td>sepal</td>
      <td>virginica</td>
      <td>6.5</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>296</th>
      <td>148</td>
      <td>petal</td>
      <td>virginica</td>
      <td>5.4</td>
      <td>2.3</td>
    </tr>
    <tr>
      <th>297</th>
      <td>148</td>
      <td>sepal</td>
      <td>virginica</td>
      <td>6.2</td>
      <td>3.4</td>
    </tr>
    <tr>
      <th>298</th>
      <td>149</td>
      <td>petal</td>
      <td>virginica</td>
      <td>5.1</td>
      <td>1.8</td>
    </tr>
    <tr>
      <th>299</th>
      <td>149</td>
      <td>sepal</td>
      <td>virginica</td>
      <td>5.9</td>
      <td>3.0</td>
    </tr>
  </tbody>
</table>

In [ ]:
# write your code here

iris_w = pd.pivot_table(iris_l,values='value',index=['id','feature','species'],columns='subfeature')
iris_w.columns.name = None
iris_w.reset_index(inplace = True)
iris_w

5. Now we readily create the facet plot we've seen by calling `sns.relplot`:

In [ ]:
sns.relplot('width', 'length', hue='species', col="feature", s=80, data=iris_w, height=4.5)
plt.show()